<div id="header">
  <img src="http://4.bp.blogspot.com/-qoSjsjj9Clk/Ua4LOTFCe_I/AAAAAAAAAeg/VRxvQPN3DRw/s1600/Hindenburg+disaster.jpg" width=458 height=310/>
  <h1>Welcome <br>to the <br>Hindenburg <br>Express!</h1>
  <h4><em>Burning since 1937</em></h4>
</div>

<div id="results">
</div>
<!--this template is for the whole page -->
<script id="searchView" type="text/x-underscore-template">  
    <form id="searchForm">
        <input type="text" name="From" placeholder="Origin" id="searchOrigin">
        <input type="text" name="To" placeholder="Destination" id="searchDestination">
        <input type="submit" value="Submit">
    </form>
    <h3>Flight Search Results</h3>
    <table id="searchTable">
        <tr>
          <td>Date</td>
          <td>Flight</td>        
          <td>From</td>
          <td>To</td>
          <td>Plane Model</td>
          <td>Seats</td>
        </tr>
    </table>    
</script>

<!-- This template displays 3 columns of info: date, flight number, and From>To -->
<script id="searchResultView" type="text/x-underscore-template">       
  <td class="date">{{ departure }}</td>
  <td class="flightNumber">{{ flight_no }}</td>        
  <td class="from">{{ origin }}</td>
  <td class="to">{{ destination }}</td>  
  <td class="plane-model">{{ plane.model }}</td>  
  <td class="seats">{{ (plane.rows * plane.columns) }}</td>  
</script>

<!-- this template is to display details of a single flight, with a container to output the seats -->
<script id="flightView" type="text/x-underscore-template">
  <ul id="details">
    <li>{{ departure }}</li>
    <li>{{ flight_no }}</li>
    <li>{{ origin }} to {{ destination }}</li>
  </ul>
  // sorry - lots of extra divs for the stupid images 
  <div id="plane-view">
    <div id="nose"></div>
      <div id="fuselage">
        <table id="seats">
        </table>
      </div>
    <div id="tail"></div>
  </div>
</script>

<!--this template is for the individual seats -->
<script id="seatView" type="text/x-underscore-template">
  {{ content }}
</script>
