#seats td,
.search-listing{
  cursor: pointer;
  transition: all .5s ease;
}
#seats td,
#searchTable td{
  padding: 5px;
  font-weight: bold;
}
#seats td{
  background: rgba(255,255,255,0.5);
}

#searchTable .search-listing td{
  font-weight: normal;
}
#seats td:hover,
#searchTable tr.search-listing:hover {
  background: #F60;
}

#plane-view{
  min-height: 200px;
  padding-right: 228px;
  background: image-url('tail.png') no-repeat right;
  background-size: 228px 100%;
  display: block;
}
#nose{
  padding-left: 184px;
  background: image-url('nose.png') no-repeat left;
  background-size: 184px 100%;
  min-height: 200px;
  display: block;
}
#fuselage{
  background: image-url('fuselage.png') repeat-x;
  background-size: 33px 100%;
  min-height: 200px;
  padding-top: 10px;
  display: block;
}
