#header { 
	width: 900px;
	margin-bottom: 30px;
	background-color: black;
}

#header h1 {
	padding-bottom: 130px;
	padding-left: 10px;
	background-color: black;
	color: white;
	font-size: 40px;
}

#header h4 {
	margin-top: -105px;
	padding-left: 10px;
	background-color: black;
	color: white;
	font-size: 16px;
}

img {
	margin-left: 200px;
	padding: 0;
}

#main {
	max-width: 960px;
	margin: 0 auto;
	margin-top: 100px;
}


#update_butt {
	padding-top: 15px;
}

.extra_space {
	padding-top: 8px;
}

.extra_space a {
	text-decoration: none;
}
