#header { 
	width: 100%;
	margin-bottom: 30px;
	background-color: black;
}

#header h1 {
	padding-bottom: 130px;
	padding-top: 5px;
	padding-left: 10px;
	background-color: black;
	color: white;
	font-size: 40px;
}

#header h4 {
	margin-top: -105px;
	padding-left: 10px;
	background-color: black;
	color: white;
	font-size: 16px;
}

img {
	padding: 0;
}

h3 {
	padding-top: 20px;
	color: #F60;
}

h2 {
	color: #F60;
}

#main {
	max-width: 960px;
	margin: 0 auto;
	margin-top: 100px;
}

#plane_form {
	margin-top: 30px;
}

#update_butt {
	padding-top: 15px;
}

.extra_space {
	padding-top: 8px;
}

.extra_space a {
	text-decoration: none;
}

.nav-pills li a:hover {
	color: #F60;
}

.nav-pills {
	color: #F60;
}

ul#details {
	margin-top: 100px;
	margin-bottom: 40px;
	margin-left: -23px;
	font-weight: bold;
}